.contantbox {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;

  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;

    .selected {
      width: 800px;
    }
  }

  .pagination {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    bottom: 10px;
    height: 50px;
  }
}